#skills {
   /*border:1px solid aqua;*/

    overflow: hidden;
    width: 100%;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.skillTitle {
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: 600;
    animation: fadeInRight;
    animation-duration: 2s;
}

.skillBars {

    margin: 1.5rem;
    width: 100vw;
    max-width: 70%;
    text-align: left;
}
.skillBar:hover {
    background-color: #FF004F;
    transform: translate(-10px);
}
.skillBar {

    background-color: rgb(50, 50, 50);
    display: flex;
    margin: 1rem;
    padding: 1.5rem, 2rem;
    border-radius: 0.5rem;
    transition: background 0.5s, transform 0.5s;
    animation: fadeInRight;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-direction: forwards;
}
.skillBarImg {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin: 2rem;
}
.skillBarText {
    margin-top: 2rem;
    font-size: 0.75rem;
    font-weight: 200;
}
@media screen and (max-width: 720px) {
    .skillBarText>p {
        font-size: 2vw;
    }
}
@media screen and (max-width: 480px) {
    .skillBarText>p {
        font-size: 2vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText {
        font-size: 2vw  
      }
}