#intro {
    /*border: 1px solid white;*/
    width: 100%;
    max-width: 95rem;
    margin: 0 auto;
}
.introContent { /*CONTAINER*/
    /*border: 2px solid green;*/
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap:1rem;
   flex-wrap: wrap;
}
.bg { /*RIGHT*/
    position: relative;
    /*border:3px solid pink;*/
    height: 45vh;
    border-radius: 50%;
    opacity: 3;
}

/*LEFT*/
.introPara {
    /*border: 1px solid #FF004F;*/
    padding: 1rem;
    font-size: medium;
    font-weight:200;
}
/*
.introText {
    border: 1px solid #FF004F;
}*/

/*LEFT*/
.hello {
    font-size: 1.5rem;
    font-weight: 100;
}
.introName {
    color: #FF004F;
}

@media screen and (max-width:810px) {

    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    .bg {
        width: 100%;
        height: 100%;
    }

}
@media screen and (max-width:545px) {
    .bg {

        width: 100%;
        height: 100%;
        max-width: unset;
    }
}
@media screen and (max-width:360px) {
    #intro {
        flex-direction: column;
        height: 100%;
    }

    .bg {
        width: 100%;
        max-width: unset;
    }
  
}