.links {
    display: inline-block;
}
.link {
    color:#ABABAB;
    object-fit: cover;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
    transition: transform 0.5s;
}
.link:hover {
    color: #ff004f;
    transform: translateY(-5px);
}